.listFiles{
    cursor: pointer;
    list-style-type: none;
}
.listFiles:hover{
    color: #029BB5;
}

.listFolderLink{
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
}
.listFolderLink:hover{
    color: #029BB5;
}
.listBackBtn{
    border: none;
    background: transparent;
    color: #4D4D4D;
    cursor: pointer;
    outline: none;
}
.listBackBtn:hover{
    color: #029BB5;
}
.listBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}
.listRenameInput{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px #000000bf;
}
.listRenameClose{
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.material-icons, .material-icons-outlined{
    color: #00AFD6
}
.material-icons:hover, .material-icons-outlined:hover{
    color: #029BB5;
}