
.listBtnRename{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-right: 5px;
    height: 25px;
    border:none;
    border-radius: 5px;
    color: white;
    background-color: #00AFD6;
    outline: none;
    cursor: pointer;
}
.listBtnRename:hover{
    background-color: #029BB5;
}

.listFiles{
    cursor: pointer;
    list-style-type: none;
}
.listFiles:hover{
    color: #029BB5;
}
.listFolderLink{
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
}
.listFolderLink:hover{
    color: #029BB5;
}
.listBackBtn{
    border: none;
    background: transparent;
    color: #4D4D4D;
    cursor: pointer;
    outline: none;
}
.listBackBtn:hover{
    color: #029BB5;
}
.listBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: #4d4d4d;
}
.listBtn:hover{
    color: #029BB5;
}
.listRenameInput{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 110px;
    background-color: white;
    border: 3px solid #029BB5;
    padding: 5px;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px #000000bf;
}
.listRenameInputText{
    border-radius: 5px;
    margin-right: 5px;
    height: 20px;
    margin-top: 5px;
    border: 1px solid #4D4D4D;
    padding: 2px;
}
.listRenameClose{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #00AFD6;
}
.listRenameClose:hover{
    color: #029BB5;
}
.filesFolders{
    color: #00AFD6;
}
.listRenameText{
    font-size: 20px;
    color: #4D4D4D;
}