
.listBtnRename{
    position: relative;
    margin-right: 5px;
    height: 25px;
    border:none;
    border-radius: 5px;
    color: white;
    background-color: #00AFD6;
    outline: none;
    cursor: pointer;
}
.listBtnRename:hover{
    background-color: #029BB5;
}

.listFiles{
    cursor: pointer;
    list-style-type: none;
    height: 45px;
}
.listFiles:hover{
    color: #029BB5;
}
.listFolderLink{
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
}
.listFolderLink:hover{
    color: #029BB5;
}
.listBackBtn{
    border: none;
    background: transparent;
    color: #4D4D4D;
    cursor: pointer;
    outline: none;
}
.listBackBtn:hover{
    color: #029BB5;
}
.listBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: #4d4d4d;
}

.listBtn:hover{
    color: #029BB5;
}

.delete-icon {
    font-size: 24px;
    -webkit-text-stroke: 0.6px #fff;
}

.delete-icon:hover {
    font-size: 26px;
    transition: font-size 0.2s;
}

.rename-icon {
    color: #fff;
    -webkit-text-stroke: 0.9px #4D4D4D;
    font-size: 22px;
}

.rename-icon:hover {
    font-size: 26px;
    -webkit-text-stroke: 1px #029BB5;
    transition: font-size 0.2s;
}
.reNameBack{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: #00000078;
    z-index: 500;
    cursor: default;
    overflow: hidden;
}

.movefiles-icon {
    padding-top: 4px;
    font-size: 28px;
    color: #fff;
    -webkit-text-stroke: 0.8px #4D4D4D;
}

.movefiles-icon:hover {
    font-size: 31px;
    -webkit-text-stroke: 1px #029BB5;
    transition: font-size 0.2s;
}

.copyfiles-icon {
    padding-top: 4px;
    font-size: 22px;
    color: #fff;
    -webkit-text-stroke: 0.8px #4D4D4D;
}

.copyfiles-icon:hover {
    font-size: 25px;
    -webkit-text-stroke: 0.8px #029BB5;
    transition: font-size 0.2s;
}

.listRenameInput{
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 250px;
    height: 110px;
    background-color: #efefef;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.listRenameInputText{
    margin-right: 5px;
    height: 20px;
    margin-top: 5px;
    padding: 2px;
}

.listRenameClose{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.filesFolders{
    color: #00AFD6;
}

.listRenameText{
    font-size: 14px;
    color: #4D4D4D;
}
