.listFiles{
    cursor: pointer;
    list-style-type: none;
}
.listFiles:hover{
    color: darkred;
}
.listFolderLink{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.listFolderLink:hover{
    color: darkred;
}
.listBackBtn{
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    outline: none;
}
.listBackBtn:hover{
    color: darkred;
}
.listDelBtn{
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}