.loginText-big {
    font-size: 60px;
    margin-top: 200px;
    text-align: center;
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: 3px;
}

.loginText-small {
    font-size: 16px;
    margin-top: -40px;
    text-align: center;
    color: #4D4D4D;
}

.loginMain{
    position: relative;
    left: 50%;
    width: 450px;
    height: 350px;
    transform: translate(-50%, 0%);
    background-color: white;
    border-radius: 10px;
    background-image: url(../Img/Logo_mybox.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 40%;
}

.loginBtn{
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 175px;
    height: 35px;
    border:none;
    border-radius: 5px;
    color: white;
    background-color: #00AFD6;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.loginBtn:hover{
    background-color: #029BB5;
    cursor: pointer;
}
.loginLink{
    text-decoration: none;
}
.loginLink:visited{
    color: white;
}