.moveModal {
    position: absolute;
    display: none;
    width: 500px;
    height: 400px;
    padding: 15px;
    border-radius: 5px;
    background-color: #efefef;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }