.userMain{
    position: relative;
    
}
.userFlag{
    position: relative;
    top: 32px;
    left: -25px;
}
.userName{
    position: relative;
    top: -8px;
    margin-right: 5px;
    font-weight: bold;
    color: #4d4d4d;
}
.userMail{
    position: relative;
    top: -8px;
    margin-right: 5px;
    color: #4d4d4d;
    
}
.userMailAtag{
    text-decoration: none;
    color: #4d4d4d;
}
.userPhoto{
    position: relative;
    top: 4px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
}
.userPhotoBig{
    display: none;
    position: absolute;
    top: 4px;
    right: -10px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    pointer-events: none;
}
